@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-style: italic, oblique;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: calc(15px + 0.390625vw);
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: white;
  font-family: "hyperlegible", sans-serif;
}

.screen {
  position: absolute;
  /* /* top: 50%; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
  display: grid;
  justify-content: center;
  align-content: center;
}
